@model JobScheduler.Models.GroupNode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupNode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Node)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Node.Desc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    <a asp-action="Index">Back to List</a>
</div>
