@model JobScheduler.Models.Node

@{
    ViewData["Title"] = "Details";
}

<h1>Detail Node</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoIP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoIP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Tipo != JobScheduler.Enums.NodeType.Master)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    | <a asp-action="Index">Back to List</a> |
</div>
