@model IEnumerable<JobScheduler.ViewModels.UserRoleViewModel>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  userId=item.UserId, roleId=item.RoleId}) |
                    @Html.ActionLink("Details", "Details", new { userId = item.UserId, roleId = item.RoleId }) |
                    @Html.ActionLink("Delete", "Delete", new { userId = item.UserId, roleId = item.RoleId })
                </td>
            </tr>
    }
        </tbody>
    </table>
