@model IEnumerable<JobScheduler.Models.JobGroup>

@{
    ViewData["Title"] = nameof(JobGroup);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jobGroupItem in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => jobGroupItem.Job.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jobGroupItem.Group.Desc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", jobGroupItem) |
                    @Html.ActionLink("Details", "Details", jobGroupItem) |
                    @Html.ActionLink("Delete", "Delete", jobGroupItem)
                </td>
            </tr>
        }
    </tbody>
</table>
