@model IEnumerable<JobScheduler.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @Html.ActionLink("Launch", "Launch", "Jobs", new { Id = item.Id, Orario = item.Orario }, null)
                @*<a asp-action="Launch" asp-all-route-data="" @Html.Action("Update me!", "Update",new {Id=item.Id,Orario=item.Orario})>Launch</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
